* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Prompt", sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

header {
  background-color: #32a852; /* Verde do grilo */
  color: white;
  padding: 20px;
  text-align: center;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-bottom: 10px;
}

.logo img {
  width: 100px;
  border-radius: 50%;
  cursor: pointer;
  transition: box-shadow 0.6s ease; /* Transição suave para a sombra da caixa */
}

.new-logo {
  width: 5px; /* Ajuste o tamanho conforme necessário */
  height: auto; /* Mantém a proporção da imagem */
  border: 2px solid red; /* Exemplo de borda para destacar a nova logo */
}

.logo img:hover {
  box-shadow: 10px 5px 1px #023810;
}
nav {
  width: 100%;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 15px;
  position: relative;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px; /* Adiciona padding para melhorar a aparência */
  border-radius: 5px;
  display: inline-block; /* Garante que o padding não cause deslocamento inesperado */
  transition: background-color 0.3s ease, color 0.3s ease; /* Transição suave para a cor de fundo e texto */
}

nav ul li a:hover {
  background-color: black;
  color: white;
}



section {
  padding: 50px 20px;
  text-align: center;
}

.about-me {
  background-color: #f9f9f9; /* Fundo suave */
  padding: 50px 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra sutil */
  margin: 30px auto;
  max-width: 800px;
}

.about-me .content {
  max-width: 600px;
  margin: 0 auto;
}

.about-me h2 {
  font-size: 2.5rem;
  color: #32a852; /* Verde do grilo */
  margin-bottom: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

.about-me p {
  font-size: 1.2rem;
  color: #333;
  line-height: 1.6;
  margin-bottom: 15px;
}

.about-me p em {
  font-style: italic;
  font-weight: bold;
  color: #32a852;
}

.about-me p strong {
  color: #32a852; /* Destaque com a cor verde */
}

@media (max-width: 768px) {
  .about-me {
    padding: 30px 15px;
  }

  .about-me h2 {
    font-size: 2rem;
  }

  .about-me p {
    font-size: 1rem;
  }
}


.fotos-videos {
  background-color: #d4ebff; /* Um azul suave para contraste */
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-container {
  width: 200px; /* Largura do contêiner */
  height: 200px; /* Altura do contêiner */
  overflow: hidden; /* Oculta qualquer parte da imagem que exceda o contêiner */
  margin: 10px; /* Espaçamento entre os contêineres */
  border-radius: 8px; /* Borda arredondada opcional */
  transition: transform 0.3s, box-shadow 0.3s; /* Transições suaves para transformações e sombra */
}

.image-container img {
  width: 100%; /* Faz com que a imagem preencha o contêiner */
  height: 100%; /* Faz com que a imagem preencha o contêiner */
  object-fit: cover; /* Cobre o contêiner, mantendo a proporção */
}

.image-container:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Sombra da caixa ao passar o mouse */
  transform: scale(1.05); /* Aumenta o tamanho da imagem ao passar o mouse */
  cursor: pointer;
}

/* .videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.video-container {
  width: 300px;
  height: 200px;
  margin: 10px;
  overflow: hidden; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
  transition: transform 0.3s, box-shadow 0.3s;
}

.video-container iframe {
  width: 100%; 
  height: 100%;
  object-fit: cover; 
}

.video-container:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); 
  transform: scale(1.05); 
  cursor: pointer;
} */

.depoimentos {
  background-color: #f9f9f9;
  padding: 60px 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  margin: 40px auto;
  max-width: 900px;
}

.depoimentos h2 {
  font-size: 2.5rem;
  color: #32a852; /* Verde do grilo */
  margin-bottom: 20px;
  font-weight: bold;
}

.depoimento-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.depoimento-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 20px;
  max-width: 300px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.depoimento-foto img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.depoimento-texto p {
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
  margin: 0;
}

.depoimento-texto strong {
  display: block;
  margin-top: 10px;
  color: #32a852; /* Verde do grilo */
}

.depoimento-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .depoimento-container {
    flex-direction: column;
  }
}


.faq {
  background-color: #f1f1f1;
  padding: 60px 20px;
  border-radius: 10px;
  margin: 40px auto;
  max-width: 900px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.faq h2 {
  font-size: 2.5rem;
  color: #32a852; /* Verde do grilo */
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.faq-container {
  display: flex;
  flex-direction: column;
}

.faq-item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  overflow: hidden;
  transition: box-shadow 0.3s, transform 0.3s;
}

.faq-question {
  background-color: #32a852; /* Verde do grilo */
  color: #fff;
  padding: 15px;
  margin: 0;
  font-size: 1.25rem;
  cursor: pointer;
  border-bottom: 2px solid #fff;
  position: relative;
}

.faq-answer {
  padding: 15px;
  display: none;
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
}

.faq-item.open .faq-answer {
  display: block;
}

.faq-item.open .faq-question::after {
  content: '−';
  position: absolute;
  right: 15px;
  font-size: 1.5rem;
}

.faq-item .faq-question::after {
  content: '+';
  position: absolute;
  right: 15px;
  font-size: 1.5rem;
}

.faq-item:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transform: scale(1.02);
}

@media (max-width: 768px) {
  .faq-container {
    padding: 0 10px;
  }
}



.propostas {
  background-color: #e9f7ef; /* Fundo suave */
  padding: 60px 20px;
  text-align: center;
}

.propostas h2 {
  font-size: 2.5rem;
  color: #32a852; /* Verde do grilo */
  margin-bottom: 40px;
  font-weight: bold;
}

.proposta-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.proposta-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 30px 20px;
  text-align: center;
  width: 250px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.proposta-card:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.proposta-card i {
  font-size: 2.5rem;
  color: #32a852;
  margin-bottom: 20px;
}

.proposta-card h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 15px;
}

.proposta-card p {
  font-size: 1rem;
  color: #666;
}

@media (max-width: 768px) {
  .proposta-container {
    flex-direction: column;
    align-items: center;
  }

  .proposta-card {
    width: 90%;
  }
}

.events {
  background-color: #f9f9f9;
  padding: 60px 20px;
  border-radius: 10px;
  margin: 40px auto;
  max-width: 900px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.events h2 {
  font-size: 2.5rem;
  color: #32a852; /* Verde do grilo */
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.events-container {
  display: flex;
  flex-direction: column;
}

.event-item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: box-shadow 0.3s, transform 0.3s;
}

.event-date {
  background-color: #32a852; /* Verde do grilo */
  color: #fff;
  padding: 20px;
  text-align: center;
  width: 120px;
  font-size: 1.5rem;
}

.event-day {
  display: block;
  font-size: 2.5rem;
  font-weight: bold;
}

.event-month {
  display: block;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.event-details {
  padding: 20px;
  flex: 1;
}

.event-details h3 {
  margin: 0 0 10px;
  font-size: 1.5rem;
  color: #333;
}

.event-details p {
  margin: 0 0 10px;
  font-size: 1rem;
  color: #666;
}

.event-link {
  color: #32a852; /* Verde do grilo */
  text-decoration: none;
  font-weight: bold;
}

.event-link:hover {
  text-decoration: underline;
}

.event-item:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transform: scale(1.02);
}

@media (max-width: 768px) {
  .events-container {
    padding: 0 10px;
  }
  
  .event-item {
    flex-direction: column;
  }
  
  .event-date {
    width: 100%;
    text-align: center;
  }
}

.contact {
  background-color: #f9f9f9;
  padding: 60px 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  margin: 40px auto;
  max-width: 900px;
  text-align: center;
}

.contact-container {
  max-width: 700px;
  margin: 0 auto;
}

.contact h2 {
  font-size: 2.5rem;
  color: #32a852; /* Verde do grilo */
  margin-bottom: 20px;
  font-weight: bold;
}

.contact p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 30px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form-group {
  flex: 1;
  min-width: 250px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-size: 1.1rem;
  color: #333;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.form-group textarea {
  resize: vertical;
}

button[type="submit"] {
  padding: 12px 20px;
  background-color: #32a852;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
  align-self: center; /* Centraliza o botão */
}

button[type="submit"]:hover {
  background-color: #28a745;
}

@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
  }
}


footer {
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.social-icons {
  margin-top: 15px;
}

.social-icon {
  color: white;
  font-size: 1.5rem;
  margin: 0 10px;
  display: inline-block;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-icon:hover {
  color: #32a852; /* Verde do grilo */
  transform: scale(1.2); /* Aumenta o tamanho do ícone ao passar o mouse */
}

.social-icon i {
  pointer-events: none; /* Desativa a interação do ponteiro no ícone */
}

@media (max-width: 600px) {
  header {
    padding: 10px;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin-bottom: 10px;
  }

  .gallery {
    flex-direction: column;
    align-items: center;
  }

  .image-container {
    width: 90%; /* Ajuste o tamanho das imagens */
    height: auto; /* Altura automática */
  }

  .video-container {
    width: 100%;
    height: auto;
  }

  .contato {
    padding: 20px;
  }

  .contact-info {
    flex-direction: column;
  }
}
