* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Prompt", sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

header {
  background-color: #32a852; /* Verde do grilo */
  color: white;
  padding: 20px;
  text-align: center;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-bottom: 10px;
}

.logo img {
  width: 100px;
  border-radius: 50%;
  cursor: pointer;
  transition: box-shadow 0.6s ease; /* Transição suave para a sombra da caixa */
}

.new-logo {
  width: 5px; /* Ajuste o tamanho conforme necessário */
  height: auto; /* Mantém a proporção da imagem */
  border: 2px solid red; /* Exemplo de borda para destacar a nova logo */
}

.logo img:hover {
  box-shadow: 10px 5px 1px #023810;
}
nav {
  width: 100%;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 15px;
  position: relative;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px; /* Adiciona padding para melhorar a aparência */
  border-radius: 5px;
  display: inline-block; /* Garante que o padding não cause deslocamento inesperado */
  transition: background-color 0.3s ease, color 0.3s ease; /* Transição suave para a cor de fundo e texto */
}

nav ul li a:hover {
  background-color: black;
  color: white;
}



section {
  padding: 50px 20px;
  text-align: center;
}

.about-me {
  background-color: #f9f9f9; /* Fundo suave */
  padding: 50px 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra sutil */
  margin: 30px auto;
  max-width: 800px;
}

.about-me .content {
  max-width: 600px;
  margin: 0 auto;
}

.about-me h2 {
  font-size: 2.5rem;
  color: #32a852; /* Verde do grilo */
  margin-bottom: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

.about-me p {
  font-size: 1.2rem;
  color: #333;
  line-height: 1.6;
  margin-bottom: 15px;
}

.about-me p em {
  font-style: italic;
  font-weight: bold;
  color: #32a852;
}

.about-me p strong {
  color: #32a852; /* Destaque com a cor verde */
}

@media (max-width: 768px) {
  .about-me {
    padding: 30px 15px;
  }

  .about-me h2 {
    font-size: 2rem;
  }

  .about-me p {
    font-size: 1rem;
  }
}


.fotos-videos {
  background-color: #d4ebff; /* Um azul suave para contraste */
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-container {
  width: 200px; /* Largura do contêiner */
  height: 200px; /* Altura do contêiner */
  overflow: hidden; /* Oculta qualquer parte da imagem que exceda o contêiner */
  margin: 10px; /* Espaçamento entre os contêineres */
  border-radius: 8px; /* Borda arredondada opcional */
  transition: transform 0.3s, box-shadow 0.3s; /* Transições suaves para transformações e sombra */
}

.image-container img {
  width: 100%; /* Faz com que a imagem preencha o contêiner */
  height: 100%; /* Faz com que a imagem preencha o contêiner */
  object-fit: cover; /* Cobre o contêiner, mantendo a proporção */
}

.image-container:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Sombra da caixa ao passar o mouse */
  transform: scale(1.05); /* Aumenta o tamanho da imagem ao passar o mouse */
  cursor: pointer;
}

.videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.video-container {
  width: 300px; /* Largura do contêiner do vídeo */
  height: 200px; /* Altura do contêiner do vídeo */
  margin: 10px; /* Espaçamento entre os vídeos */
  overflow: hidden; /* Oculta qualquer parte do vídeo que exceda o contêiner */
  border-radius: 8px; /* Borda arredondada opcional */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra da caixa */
  transition: transform 0.3s, box-shadow 0.3s; /* Transições suaves para transformações e sombra */
}

.video-container iframe {
  width: 100%; /* Faz com que o vídeo preencha o contêiner */
  height: 100%; /* Faz com que o vídeo preencha o contêiner */
  object-fit: cover; /* Cobre o contêiner, mantendo a proporção */
}

.video-container:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Sombra da caixa ao passar o mouse */
  transform: scale(1.05); /* Aumenta o tamanho do vídeo ao passar o mouse */
}


.propostas {
  background-color: #e9f7ef; /* Fundo suave */
  padding: 60px 20px;
  text-align: center;
}

.propostas h2 {
  font-size: 2.5rem;
  color: #32a852; /* Verde do grilo */
  margin-bottom: 40px;
  font-weight: bold;
}

.proposta-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.proposta-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 30px 20px;
  text-align: center;
  width: 250px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.proposta-card:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.proposta-card i {
  font-size: 2.5rem;
  color: #32a852;
  margin-bottom: 20px;
}

.proposta-card h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 15px;
}

.proposta-card p {
  font-size: 1rem;
  color: #666;
}

@media (max-width: 768px) {
  .proposta-container {
    flex-direction: column;
    align-items: center;
  }

  .proposta-card {
    width: 90%;
  }
}
